@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  all: unset;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.banner, .projects{
 max-width: 1080px;
}

.img-projects{
  max-width: auto;
  height: 220px;
  max-height: 220px;
}

.banner-img{
  max-width: auto;
  max-height: 300px;
}

.t-banner-color{
  color: #1886B4;
}

.bg-banner-color{
  background-color: #1886B4;
}

.project-title{
  color: #1886B4;
}

.bg-contact{
  background-color: #ffffff;
  opacity: 0.8;
  background-image:  radial-gradient(#1886B4 0.5px, transparent 0.5px), radial-gradient(#1886B4 0.5px, #ffffff 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
}